<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=u, initial-scale=1.0">
    <title>BrandonSanderson</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
<!-- NAV -->
<nav class="navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="../../index.html" style="color: antiquewhite;">
      <img src="../img/Logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Logo
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Login
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form action="form-handler.php">
              <fieldset>
                <legend>Login:</legend>
                Correo: <br>
                <input type="text" name="email"><br>
                Contraseña: <br>
                <input type="text" name="Contraseña"><br>
                <input type="submit" name="entrar">
              </fieldset>           
              </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Header -->
<header class="Header2">
  <h2 style="color: antiquewhite;">Brandon Sanderson es un escritor estadounidense de literatura fantástica y ciencia ficción. Es conocido sobre todo por el universo ficticio de Cosmere, en el que se ambientan la mayoría de sus novelas de fantasía, entre las que destacan las series: "Nacidos de la bruma" y "El archivo de las tormentas".</h2>
  <img src="../img/Brandon SandersonPhoto.jpg" alt="BrandonSandersonPhoto">
</header>


<!-- Section -->
<section class="CosmereInfo">
<img src="../img/Constelaciones-mundos-cosmere.jpg" alt="Constelaciones-mundos-cosmere" width="720px" height="480px">
<h1 style="color: antiquewhite;">Cosmere</h1>
<h2 style="color: silver;">Cosmere es la palabra que define el universo en el cual muchos de los libros de Brandon Sanderson tienen lugar. Es decir, a pesar de que las historias se desarrollan en diferentes mundos, cada uno de estos se encuentra en la misma galaxia, o cúmulo estelar.</h2>
<h2 style="color: silver;">para mas informacion detallada entrar a <a href="https://cosmere.es/que-es-el-cosmere/">Cosmere</a></h2>
</section>

<!-- Article -->
  <h1 id="Centrado" style="color: antiquewhite;"><strong>SAGAS</strong></h1>
<div class="Libreria">
  <img src="../img/ElArchivoDeLasTormentas.png" alt="">
  <img src="../img/Elantris.png" alt="">
  <img src="../img//NacidosDeLaBruma.png" alt="">
</div>


<!-- Footer -->
<footer>
  <ul class="links">
  <h3 style="color: antiquewhite;">Redes Sociales de Brandon Sanderson</h3>
  <i class="bi bi-twitter-x"><a href="https://twitter.com/BrandSanderson">Twitter</a></i>
  <i class="bi bi-facebook"><a href="https://www.facebook.com/BrandSanderson">facebook</a></i>
  <i class="bi bi-instagram"><a href="https://www.instagram.com/brandsanderson/">instagram</a></i>
  <i class="bi bi-book-half"><a href="https://www.brandonsanderson.com/">Pagina Oficial</a></i>
</ul>
</footer>
</body>
</html>