<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=u, initial-scale=1.0">
    <title>TurtleMe</title>
    <link rel="stylesheet" href="../css/estilo.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


</head>
<body>

<!-- NAV -->

<nav class="navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="../../index.html" style="color: antiquewhite;">
      <img src="../img/Logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Logo
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Login
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form action="form-handler.php">
              <fieldset>
                <legend>Login:</legend>
                Correo: <br>
                <input type="text" name="email"><br>
                Contraseña: <br>
                <input type="text" name="Contraseña"><br>
                <input type="submit" name="entrar">
              </fieldset>           
              </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Header -->
<header class="Header2">
    <h2 style="color: antiquewhite;">Tae Ha Lee, bajo el nombre de TurtleMe, es un novelista de fantasía y autor de webcomic, por ahora tiene bajo su nombre la serie "the beginning after the end", novela como wecomic</h2>
    <img src="../img/Brandon_faded.png" alt="Brandon_faded">
</header>

<!-- Article -->
<article class="TbateInfo">
  <img src="../img/TbateIMG.png" alt="TbateArthur">
  <h2 style="color: antiquewhite;">La serie trata del Rey Grey, que luego de renacer en un mundo con magia, intentara vivir su nueva vida con las personas que ama mientras intenta entender el proposito de su reencarnacion</h2>
</article>
<div id="Centrado">
<h1 id="Centrado" style="color: antiquewhite;"><strong>LIBROS</strong></h1>
</div>
<div class="Libreria">
  <img src="../img/TBATENovel1.jpg" alt="TBATENovel1">
  <img src="../img/TBATENovel2.jpg" alt="TBATENovel2">
  <img src="../img/TBATENovel3.jpg" alt="TBATENovel3">
  <img src="../img/TBATENovel4.jpg" alt="TBATENovel4">
  <img src="../img/TBATENovel5.jpg" alt="TBATENovel5">
  <img src="../img/TBATENovel6.jpg" alt="TBATENovel6">
  <img src="../img/TBATENovel7.jpg" alt="TBATENovel7">
  <img src="../img/TBATENovel8.jpg" alt="TBATENovel8">
  <img src="../img/TBATENovel9.jpg" alt="TBATENovel9">
</div>

<!-- Footer -->
<footer>
  <ul class="links">
    <h3 style="color: antiquewhite;">Redes Sociales de TurtleMe</h3>
    <i class="bi bi-twitter-x"><a href="https://twitter.com/turtleme93">Twitter</a></i>
    <i class="bi bi-facebook"><a href="https://www.facebook.com/tbatenovel/">facebook</a></i>
    <i class="bi bi-instagram"><a href="https://www.instagram.com/turtleme93/?hl=ru">instagram</a></i>
    <i class="bi bi-book-half"><a href="https://www.turtleme.com">Pagina Oficial</a></i>
  </ul>
  </footer>
</body>
</html>